.chatbox {
  position: relative;
  background: white;
  border-radius: 0.5rem;
  width: 15rem;
  min-height: 7.25rem;
  height: auto;
  padding: 1.5rem 1rem 1rem 1rem;
  box-shadow: 0rem 0.25rem 1.25rem 0rem #425B7626;
  box-sizing: border-box;
  margin-top: 2rem;
}

.avatar {
  position: absolute;
  top: -1.56rem;
  left: 40%;
  width: 3rem;
  height: 3rem;
  background-image: url('../assets/Avatar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 0.19rem solid white;
}

.closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.63rem;
  font-size: 1.2rem;
  color: #888;
  cursor: pointer;
}

.message {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.5rem;
  letter-spacing: 0%;
  color: #425B76;
}

.message span {
  font-size: 1.2rem;
}
