.sidebarMainContainer{
    width: 100%;
    min-height: 100%;
    position: relative;
}

.sidebarContainer{
    width: 80%;
    height: auto;
    margin: 1.88rem auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksContainer{
    margin-top: 1.88rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.linkContent{
    display: flex;
    flex-direction: column;
    gap: 0.31rem;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 0.31rem;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #424242;
}

.link {
    text-decoration: none;
}

.linkContent img{
    width: 1.25rem;
    height: 1.25rem;
}

.bottomContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2.38rem;
    width: 80%;
    box-sizing: border-box;
    cursor: pointer;
}
