.mainTicketContainer {
  width: 100%;
  min-height: 12.81rem;
  height: auto;
  background-color: #FEFEFE;
  border: 0.06rem solid #E7E7E7;
  margin-top: 1rem;
}

.mainTicketContainer .ticketContainer {
  width: 95%;
  height: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.ticket {
  display: flex;
  flex-direction: column;
  border-bottom: 0.06rem solid #E7E7E7;
  padding-bottom: 1.5rem;
}

.ticketHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketHeaderLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ticketHeaderLeft span {
  background-color: #F8A53499;
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 50%;
}

.ticketHeaderLeft h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 0.87rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2E2C34;
}

.ticketTime {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.87rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #84818A;
}

.ticketBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketBodyLeft p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 0.81rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-left: 2rem;
}

.ticketBodyRight p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  line-height: 0.88rem;
  letter-spacing: 0%;
  vertical-align: middle;
}

.ticketFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.ticketFooterLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ticketFooterLeft div .name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.88rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  color: #84818A;
}

.ticketFooterLeft div p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.56rem;
  line-height: 0.75rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  color: #84818A;
}

.ticketFooterRight .link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 0.88rem;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--accent);
}
